<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown Events</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h2>School District Housing</h2>
    <!select id="selDataset" onchange="getData(this.value)">
        <!option value="dataset1">School map</option>
        <!option value="dataset2">House</option>
        <!option value="dataset3">Media Price Chart</option>
    <!/select>
    
    <button onclick="location.href='/map'" type="button">map</button>
    <button onclick="location.href='/chart'" type="button">chart</button>
    <button onclick="location.href='/bubble'" type="button">bubble</button>

    <div id="xxx"></div>

    <script src="plots.js"></script>
</body>
</html>